@use '../../styles/variables' as *;

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 220px;
  height: 220px;
  padding: 10px;
  border-radius: 8px;

  background-color: var(--bg-card);
  box-shadow: 3px 3px 4px var(--bg-card-shadow);
}

.table-wrapper {
  overflow: auto;
  display: flex;
  gap: 10px;
  align-items: flex-start;

  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid rgb(191 192 167);
  border-radius: 2px;

  background-color: rgb(191 192 167);
  box-shadow:
    inset 0 3px 6px rgb(0 0 0 / 25%),
    inset 0 -2px 4px rgb(255 255 255 / 15%);
}

table {
  overflow: auto;
  border-collapse: collapse;

  width: max-content;
  border: 2px solid rgb(140 140 140);

  font-family: sans-serif;
  font-size: 0.8rem;
  color: var(--text-color-neutral);
  letter-spacing: 1px;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  min-width: 100px;
  padding: 8px 10px;
  border: 1px solid rgb(160 160 160);

  white-space: nowrap;

  background-color: rgb(237 238 242 / 27%);
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242 / 46.3%);
}

.highlight {
  animation: highlight 1s ease-out;
}

@keyframes highlight {
  0% {
    background-color: orange;
  }

  100% {
    background-color: transparent;
  }
}
