$color-primary: #ff4646;
$color-primary-10: #ff46461a;
$color-dark: #181c29;

$color-static-white: #fff;
$color-static-white-40: #fff6;
$color-static-white-20: #fff3;

$color-tag-purple: rgb(34 31 49);
$color-pink: pink;

$color-content-background: #ecf3f8;
$color-overlay: #181c29cc;
$color-text-dark: #181c29;

$content-width: 1276px;
$tablet-width: 768px;
$mobile-width: 380px;

$close-button: url('../../public/images/svg/close-button.png');
$close-button-light: url('../../public/images/svg/close-button-light.png');
$details-light: url('../../public/images/svg//detail-light.svg');
$details: url('../../public/images/svg//detail.svg');
