:root {
  display: flex;
  justify-content: center;

  box-sizing: border-box;

  font-family: Montserrat, sans-serif;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(214, 228, 187);
}

.header {
  background-color: rgb(105, 143, 69);
  height: 100px;
}
