:root {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: Montserrat, sans-serif;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  background-color: rgb(214 228 187);
}

header {
  height: 100px;
  background-color: rgb(105 143 69);
}
