@use './constants' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-tag-purple;

  background-color: rgb(238 198 134);
}

.input {
  width: 200px;
  padding: 6px 8px;
  border: none;
  border: 1px solid rgb(204 125 46);
  border-radius: 4px;

  font-size: 16px;
  color: rgb(71 55 48);

  background-color: rgb(255 242 229);
  box-shadow: inset 2px 2px 1px 1px rgb(169 169 169);

  &:focus {
    background-color: rgb(255 254 252);
    outline: none;
  }
}

.button {
  cursor: pointer;

  padding: 4px 12px;
  border-radius: 4px;

  font-size: 1em;
  font-weight: 500;

  transition: border-color 0.25s;

  &:disabled {
    cursor: not-allowed;
  }
}

.default {
  border: 1px solid #8a683e;

  color: rgb(79 65 59);

  background: rgb(176 149 130);
  box-shadow: 3px 3px 0 #6f5331;

  transition: all 0.2s ease;

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 0 #6f5331;
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgb(151 150 149);
    color: rgb(121 121 121);
    background: rgb(151 150 149);
  }

  &:not(:disabled):hover {
    border-color: rgb(0 0 0);
    color: rgb(0 0 0);
  }
}

.light {
  border: 1px solid #b3946d;

  color: rgb(105 97 91);

  background: rgb(228 210 198);
  box-shadow: 3px 3px 0 #987f61;

  transition: all 0.2s ease;

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 0 #987f61;
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgb(151 150 149);
    color: rgb(121 121 121);
    background: rgb(151 150 149);
  }

  &:not(:disabled):hover {
    border-color: rgb(0 0 0);
    color: rgb(0 0 0);
  }
}

.error {
  border: 1px solid #8a683e;

  color: rgb(94 30 20);

  background: rgb(197 151 134);
  box-shadow: 3px 3px 0 #6f5331;

  transition: all 0.2s ease;

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 0 #6f5331;
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgb(151 150 149);
    color: rgb(121 121 121);
    background: rgb(151 150 149);
  }

  &:not(:disabled):hover {
    border-color: rgb(0 0 0);
    color: rgb(0 0 0);
  }
}
