section {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;

  width: 1200px;
  margin: 0 auto;
  padding: 100px 16px 16px;

  @media (width <= 1200px) {
    width: auto;
  }
}
