.search-form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  height: 66px;
  padding: 16px;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: flex-start;

  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @media (width <= 480px) {
    flex-direction: column;
    gap: 10px;
  }
}
