@use '../../styles/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.card-information {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
}

.accent {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-neutral);
}

.main-accent {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color-main-accent);
}
